body {
    margin: 0;
    font-family: Arial;
    background: #f9fafb;
    color: #065f46;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #065f46;
    color: white;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

nav a:hover {
    color: #10b981;
}

.hero {
    text-align: center;
    padding: 100px;
}

button {
    padding: 10px 20px;
    background: #10b981;
    color: white;
    border: none;
}

.card {
    width: 250px;
    background: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}

.features, .services, .pricing, .about-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px;
}

.highlight {
    border: 2px solid #10b981;
}

.contact {
    text-align: center;
    padding: 40px;
    background: #ecfdf5;
}

footer {
    text-align: center;
    padding: 20px;
    background: #065f46;
    color: white;
}